(
    id: "tank_medium",
    display_name: "FL-T400 Medium Tank",
    category: Tank,
    dry_mass: 200.0,
    fuel_capacity: 2000.0,
    thrust_vacuum: 0.0,
    isp: 0.0,
    drag_coefficient: 0.3,
    reference_area: 1.0,
    tags: [Tank],
    cost: 150,
)
